.loading-spinner-holder{
    position: fixed;
    z-index: 1000;
    height: 93%;
    text-align: center;
  }

  #loader-inner-content{
    display: inline-block;
    padding: 10px;
    color: white;
    font-weight: bold;
  }