.content {
    transition: left .3s ease-in-out;
    width: auto;
min-height:600px;
overflow: auto;
}

.whenSidebarOpen {
	margin-left: 184px;
}

.navBar {
    /*background-color: #091F36; */
    display: inline-block;
    width: 100%;
  border: 1px solid #E5E5E5;
  height: 56px;
}