// styles for  right section
.imageContentHolder{
    color: rgb(243, 244, 247);
    text-decoration: none !important;
    position: absolute;
    font-family: 'Lato', sans-serif;
}
#login-page-carosal-main-div{
    padding: 0; 
    .carousel-indicators {
        left: 45%;
        text-align: left; 
        margin-left: 0;
    }
    
}
#nextiva-app-contnet-holder{
    top: 89.9604px;
    right: 134.941px;
    text-align: right;
}
#next-os-contnet-holder{
    text-align: left;
    color:#fff;
    bottom: 53.9762px;
    left: 107.952px;
}
#voice-text-contnet-holder{
    text-align: left;
    color: #d6d1cf;
    top: 17.9921px;
    left: 107.952px;
}
#call-recording-contnet-holder{
    text-align: left;
    bottom: 67.4703px;
    left: 80.9643px;
}
#nextiva-care-contnet-holder{
    text-align: left;
    bottom: 53.9762px;
    left: 107.952px;
}
#nextiva-analytics-content-holder{
    text-align: left;
    top: 35.9841px;
    left: 62.9723px;
}

.advertisememt-buttons{
    background-color: #0e57a6 !important;    
    padding: 0 30px;
    height: 35px;
    color: #fff;
    border: none;
    font-size: 13px;
}

// styles for  left section

#loginPage {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    text-align: center;
    margin-top:100px;
  }

  #login-logo-continer{
    margin-bottom: 34px;
  }
  
  #login-form-continer {
    padding: 25px 25px;
    box-shadow: #eaeaea 0 0 17px;
    text-align: left;
    list-style: none;
    font-size:  12px;
    li{
        padding: 5px;
    }
    .nx-label__text{
        font-size: 9px !important; 
        color: #0e57a6 !important; 
    }
    .nx-label__block{
        margin: 7px 0px 10px 17px !important;
    }
    .nx-textfield{
        height: 34px !important;
        background-color: #fff !important;
        border: 1px solid #0e57a6;
        line-height: 33px !important;
        text-indent: 15px !important;
    }
    .nx-textfield--error {
        border: 1px solid #f66;
    }
     .divide {
        padding: 0 10px;
        color: #0e57a6;
    }   
}
#login-button-continer{
    margin-top: 10px;
}
#login-page-logo{
    width:225px;
}
#login-formError-continer{
    color: red !important; 
    text-align: center;
}
  
#login-loader-holder{
    text-align: center;
    position: absolute;
    z-index: 9;
    height: 55%;
    padding-top: 10% !important; 
    width: 300px;
}

// to disble autocomplete styles
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0;
  height: 0;
  margin: 0;
  background: white;
  transition: background-color 5000s ease-in-out 0s;
}
@media(min-width:100px) and (max-width:400px){
    #loginPage {
        width: 250px;
        margin-top:50px;
        margin-right:20px;
    }
}

.login-page-buttons{
    background-color: #0e57a6 !important;
    height: 35px !important;
    padding: 0 40px !important;
    font-size: 11.6948px;
    line-height: 35px;
}

.copyright-message-holder{
    margin: 15px 0 29px 0;
    font-size: 10px;
    text-align: center;
    color: #6b98ca;
}

/*Code for mobile responsiveness.*/
@media screen and (max-width: 640px) {
    .imageContentHolder{
        padding: 20px;
    }
}



@media screen and (min-width: 1600px) {
    .carousel-indicators li{
    height: 0.8vw  !important;
    width: 0.8vw  !important;
    border-radius: 0.8vw  !important;
    margin-bottom: 8%  !important;
    margin-left: 25px  !important;
    }
    
}


@media screen and (min-width: 2000px) {
    .nx-textfield{
        border: 2px solid #0e57a6 !important;
    }
}